<div class="navbar nav-bar">
    <div><i class="fa fa-shopping-cart fa-lg"> </i>
        <span class="fontSize"> upGrad EShop</span></div>
         <div class="searchContainer">
             <div class="searchBox">
                 <input type="text" class="input" placeholder="Type to search Products.." >
                 <div class="btn">
                    <i class="fa fa-search" aria-hidden="true"></i>
                 </div>
             </div>
        </div>
    <div>
        <app-sign-in></app-sign-in>
    </div>
</div>