<div class="dropdown">
  <button class="btn  dropdown-toggle colorWhite" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <div class="fontSize colorWhite" ><i class="fa fa-user "></i> Account</div>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <button type="button" class="btn modals" data-toggle="modal" (click)="showModal=true" id="sign-in-button">
      Sign In
    </button>   
  </div>

<div id="modals">
  <div class="modal" id="registerModal" role="dialog" [ngClass] = "{'show': showModal}">
    <div class="modal-dialog modal-md modal-dialog-centered modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" (click)="showModal=false">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="actions row">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item col-lg-6 center px-0 pl-1 pointer" role="presentation">
                <a id="signIn-tab" (click)="toggleSignIn(true)" [ngClass]="isSignIn?'nav-link active':'nav-link'" class="fa fa-sign-in">&nbsp;Sign in</a>
              </li>
              <li class="nav-item col-lg-6 center px-0 pointer" role="presentation">
                <a id="signUp-tab" (click)="toggleSignIn(false)" [ngClass]="!isSignIn?'nav-link active':'nav-link'" class="fa fa-user-plus">&nbsp;Sign up</a>
              </li>
            </ul>
          </div>
          <div class="tab-content row">
            <div id="signInTab" [ngClass]="isSignIn?'tab-pane col-lg-12 px-5 py-5 active':'tab-pane col-lg-12 px-5 py-5'">
              <div class="card">
                <div class="card-header color center fontStyle">
                  Sign in
                </div>
                <div class="card-body">
                  <form class="user-form" [formGroup]="signInForm">
                    <div>
                      <div class="form-group">
                        <label for="exampleFormControlInput1" class="color">User Name</label>
                        <input type="text" class="form-control" [formControl]="userName" name="UserName" id="UserName" >
                        <span class="error" *ngIf="(userName.dirty || userName.touched) && userName.errors?.required">User Name is required</span>
                        </div>
                      <div class="form-group">
                        <label for="lastName" class="color">Password</label>
                        <input [formControl]="password" class="form-control" type="password" name="password" id="password">
                        <span class="error" *ngIf="(password.dirty || password.touched) && password.errors?.required">Password is required</span>
                        <span class="error" *ngIf="(password.dirty || password.touched) && password.errors?.minlength">Password isn't long enough, minimum of 6 character</span>
                      </div>
                      <div class="btnCenter">
                        <button type="submit" (click)="submitForm()" class="btn btn-submit btnWidth button" [disabled]="!signInForm.valid"> Sign In </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div id="signUpTab" [ngClass]="!isSignIn?'tab-pane col-lg-12 px-5 py-5 active':'tab-pane col-lg-12 px-5 py-5'" >
              <div class="card">
                <div class="card-header color center fontStyle">
                  Sign up
                </div>
                <div class="card-body">
                  <div id="login">
                    <form class="user-form" [formGroup]="signUpForm">
                      <div>
                        <div class="form-group">
                          <label for="firstName" class="color">First Name</label>
                          <input type="text" class="form-control" [formControl]="firstName" name="firstName" id="firstName">
                          <span class="error" *ngIf="(firstName.dirty || firstName.touched) && firstName.errors?.minlength">First name isn't long enough, minimum of 3 character</span>
                          <span class="error" *ngIf="(firstName.dirty || firstName.touched) && firstName.errors?.required">First Name is required</span>
                        </div>
                        <div class="form-group">
                          <label for="lastName" class="color" >Last Name</label>
                          <input  type="text" name="lastName" [formControl]="lastName" class="form-control" id="lastName">
                          <span class="error" *ngIf="(lastName.dirty || lastName.touched) && lastName.errors?.minlength">Last name isn't long enough, minimum of 3 character</span>
                          <span class="error" *ngIf="(lastName.dirty || lastName.touched) && lastName.errors?.required">Last Name is required</span>
                        </div>
                        <div class="form-group">
                          <label for="email1" class="color">Email Id:</label>
                          <input type="email" [formControl]="email1" name="email1" class="form-control" id="email1">
                          <span class="error" *ngIf="(email1.dirty || email1.touched) && email1.errors?.required">Email Id is required</span>
                          <span class="error" *ngIf="(email1.dirty || email1.touched) && email1.errors?.pattern">Enter a valid email address</span>
                        </div>
                        <div  class="form-group">
                          <label for="mobileNumber" class="color">Phone Number</label>
                          <input [formControl]="mobileNumber" type="text" name="mobileNumber" class="form-control" id="mobileNumber">
                          <span class="error" *ngIf="(mobileNumber.dirty || mobileNumber.touched) && mobileNumber.errors?.required">Phone number is required</span>
                          <span class="error" *ngIf="(mobileNumber.dirty || mobileNumber.touched) && mobileNumber.errors?.pattern">Phone number isn't long enough</span>
                        </div>
                        <div  class="form-group">
                          <label for="UserName" class="color">User Name</label>
                          <input [formControl]="UserName" type="text" name="UserName" class="form-control" id="User Name">
                          <span class="error" *ngIf="(UserName.dirty || UserName.touched) && UserName.errors?.required">User Name is required</span>
                          <span class="error" *ngIf="(UserName.dirty || UserName.touched) && UserName.errors?.minlength">User Name isn't long enough, minimum of 6 character</span>
                        </div>
                        <div class="form-group">
                          <label for="password1" class="color">Password</label>
                          <input [formControl]="password1" type="password" name="password1" class="form-control" id="password1">
                          <span class="error" *ngIf="(password1.dirty || password1.touched) && password1.errors?.required">Password is required</span>
                          <span class="error" *ngIf="(password1.dirty || password1.touched) && password1.errors?.minlength">Password isn't long enough, minimum of 6 character</span>
                        </div>
                        <div class="form-group">
                          <label for="password2" class="color">Confirm Password</label>
                          <input [formControl]="password2" type="password" name="password2" class="form-control" id="password2">
                          <span class="error" *ngIf="(password2.dirty || password2.touched) && password2.errors?.required">Confirm password is required.</span>
                          <!-- <span class="error" *ngIf="(password2.dirty || password2.touched) && password2.errors?.minlength">Confirm Password isn't long enough, minimum of 6 character</span> -->
                          <span class="error" *ngIf="password2.valid && password2.value != password1.value">Password and Confirm Password must be match</span>
                        </div>
                        <div class="btnCenter">
                          <button type="submit" (click)="submitForm2()" class="btn btn-submit btnWidth button" [disabled]="!signUpForm.valid || password2.value != password1.value"> Sign Up </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

