.footer{
    background-color: #007bff;
    color: wheat;
    display: flex;
    justify-content: space-between;
    align-content: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.link{
    text-decoration: none;
    color: wheat;
}